# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
**/__pycache__/

# Environment Variables
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Ignore all uploaded PDF documents (Fixed Paths)
backend/app/uploads/*
!backend/app/uploads/.gitkeep

